<?xml version="1.0" encoding="UTF-8"?>

<plugin>

   <extension
         id="preprava"
         point="org.eclipse.core.runtime.products">
      <product     
      name="cz.kpartl.preprava"       
            application="org.eclipse.e4.ui.workbench.swt.E4Application">            
         <property
               name="appName"
               value="cz.kpartl.preprava">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://cz.kpartl.preprava/cz.kpartl.preprava.util.Login">
         </property>
         
      </product>
   </extension>

</plugin>
