<?xml version="1.0" encoding="UTF-8"?>

<plugin>

   <extension
         id="preprava"
         point="org.eclipse.core.runtime.products">
      <product     
      name="cz.kpartl.preprava"       
            application="org.eclipse.e4.ui.workbench.swt.E4Application">            
         <property
               name="appName"
               value="cz.kpartl.preprava">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://cz.kpartl.preprava/cz.kpartl.preprava.util.Login">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/cz.kpartl.preprava/css/default.css">
         </property>
         <property
               name="aboutImage"
               value="icons/preprava250.gif">
         </property>
         <property
               name="windowImages"
               value="icons/preprava16.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="cz.kpartl.preprava.definition.admin">
         <with
               variable="cz.kpartl.preprava.admin">
            <equals
                  value="1">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
